$sidebar-color: #e6f2ff;

.newPostBanner {
  width: 100%;
  display: block;
  background-color: #cccccc;
  color: #00394d;
  text-align: center;
  height: 35px;
  line-height: 35px;

  span {
    Button {
      display: inline-block;
      height: 30px;
      line-height: 15px;
      margin: 3px 0;
    }
  }
}

.searchBar {
  display: inline-block;
  float: left;
  width: 17%;
  height: 700px;
  background-color: $sidebar-color;

  form {
    padding-left: 20px;
    h3 {
      margin-top: 20px;
    }
    .filterCategory {
      margin-left: 10%;
    }
    .filterResult {
      margin-left: 15%;
    }
  }

  #adPlaceholder {
    display: block;
    margin: 20px auto;
    min-height: 400px;
    min-width: 240px;
  }
}

.adSpace {
  float: right;
  display: inline-block;
  width: 17%;
  background-color: $sidebar-color;

  img {
    display: block;
    margin: 20px auto;
    min-height: 400px;
    min-width: 240px;
  }

}


.contentPostContainer {
  display: inline-block;
  width: 66%;
  color: #333333;

  h1 {
    padding-left: 20px;
    margin-top: 10px;
  }

  .singleContentPost {
    display: block;
    width: 70%;
    margin: 40px auto;
    padding: 10px 20px;
    //background-color: #b3d9ff;
    /* Gradient from: http://colorzilla.com/gradient-editor/#7abcff+0,b3d9ff+87 */
    background: #7abcff; /* Old browsers */
    background: -moz-linear-gradient(top, #7abcff 0%, #b3d9ff 87%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #7abcff 0%, #b3d9ff 87%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #7abcff 0%, #b3d9ff 87%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7abcff', endColorstr='#b3d9ff', GradientType=0); /* IE6-9 */
    border-radius: 10px;
    box-shadow: 10px 10px #4d4d4d;

    #postSummary {
      font-size: 1.4em;
      letter-spacing: 0.125em;
      font-weight: 700;
    }

    #postOtherDetails {
      position: relative;
      span {
        text-decoration: underline;
      }

      #socialIcons {
        position: absolute;
        right: 0;
        bottom: 0;
        text-align: right;
        margin-top: -28px;
        img {
          height: 22px;
        }
      }
    }
  }

  .singleContentPost:hover {
    background: #7abcff; /* Old browsers */
    background: -moz-linear-gradient(top, #7abcff 0%, #60afff 0%, #54a9ff 87%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #7abcff 0%,#60afff 0%,#54a9ff 87%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #7abcff 0%,#60afff 0%,#54a9ff 87%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#54a9ff',GradientType=0 ); /* IE6-9 */
  }
}
