.header {
  width: 100%;
  background-color: #216894;
  height: 7vh;
  line-height: 7vh;

  a, span {
    color: #ffffff;
    text-decoration: none;
    letter-spacing: 0.05rem;
  }

  a:hover, span:hover {
    color: #bfbfbf;
  }

  .headerContainer {
    display: block;
    margin: 0 auto;
    width: 85%;
    height: inherit;

    #navLogo {
      width: 25%;
      display: inline-block;
      height: inherit;
      margin: 0;
      img {
        margin: auto 0;
        height: 70%;
      }
    }

    .rightContent {
      font-size: 1.75rem;
      display: inline-block;
      margin: 0;
      height: inherit;
      text-align: center;
      float: right;

      #registerLoginLink, #newContentPostLink, #contentCreatorsLink {
        display: inline-block;
        padding: 0 25px;
        span {
          cursor: pointer;
        }
      }

      #profileDropdown {
        display: inline-block;
        background: none;
        border: none;

        .dropdown.open.btn-group {
          Button {
            color: #bfbfbf;
            background: none;
            border: none;
            box-shadow: none;
          }
        }

        Button {
          padding-top: 15px;
          font-size: 1.75rem;
          color: #ffffff;
          height: 4vh;
          background: none;
          border: none;
          img {
            height: 35px;
            border-radius: 50%;
            margin-right: 8px;
          }
        }
        ul {
          background-color: #216894;
          margin-top: 25px;
          text-align: center;
          span {
            color: #ffffff;
            cursor: pointer;
            a {
              display: block;
              color: #ffffff;
            }
            a:hover {
              background-color: #cc8800;
            }
          }
        }
      }
    }
  }
}

/*
 .rightContent {
      font-size: 1.75rem;
      display: inline-block;
      margin: 0;
      height: inherit;
      text-align: center;
      float: right;

      .loggedInLinks {
        display: inline-block;
        width: 100%;
        padding: 0 25px;

        #contentCreatorsLink {
          display: inline-block;
          padding: 0 25px;

        }

        #viewProfileLink {
          display: inline-block;
          padding: 0 25px;


          img {
            height: 35px;
            border-radius: 50%;
            margin-right: 8px;
          }

        }
        #logoutLink {
          display: inline-block;
          padding: 0 25px;
        }
      }

      .loggedOutLinks {
        #blankFiller {
          display: inline-block;
          width: 30%;
        }
        #contentCreatorsLink {
          display: inline-block;
          width: 40%;
        }

        #registerLoginLink {
          float: right;
          display: inline-block;
          width: 30%;
          span {
            cursor: pointer;
          }
        }
      }
    }
 */