//.header {
//  width: 100%;
//  background-color: #216894;
//  height: 7vh;
//  .headerNavbar {
//    display: block;
//    margin: 0 auto;
//    background-color: inherit;
//    height: inherit;
//    width: 90%;
//    background-color: red;
//    padding: 0;
//    .navbar-brand {
//      padding: 0;
//      img {
//        position: relative;
//        top: 50%;
//        transform: translateY(-50%);
//        height: 80%;
//      }
//    }
//  }
//}

.header {
  width: 100%;
  background-color: #216894;
  height: 7vh;
  line-height: 7vh;

  a, span {
    color: #ffffff;
    text-decoration: none;
    letter-spacing: 0.05rem;
  }

  a:hover, span:hover {
    color: #bfbfbf;
  }

  .headerContainer {
    display: block;
    margin: 0 auto;
    width: 85%;
    height: inherit;

    #navLogo {
      width: 25%;
      display: inline-block;
      height: inherit;
      margin: 0;
      img {
        margin: auto 0;
        height: 70%;
      }
    }

    .rightContent {
      font-size: 1.75rem;
      display: inline-block;
      margin: 0;
      height: inherit;
      text-align: center;
      float: right;


      #registerLoginLink, #newContentPostLink, #contentCreatorsLink, #userDropdown {
        display: inline-block;
        padding: 0 25px;
        span {
          cursor: pointer;
        }
      }



      #profileDropdown {
        display: inline-block;
        background: none;
        border: none;
        position: relative;

        #userDropdown {
          display: inline-block;
          background: none;

          img {
            height: 35px;
            border-radius: 50%;
            margin-right: 8px;
          }
        }

        ul {
          background-color: #216894;
          text-align: center;
          cursor: pointer;
          a {
            display: block;
            color: #f2f2f2;
          }
          a:hover {
            background-color: #cc8800;
          }
        }

        //.dropdown.open.btn-group {
        //  Button {
        //    color: #bfbfbf;
        //    background: none;
        //    border: none;
        //    box-shadow: none;
        //  }
        //}

        //Button {
        //  font-size: 1.75rem;
        //  color: #ffffff;
        //  height: 4vh;
        //  background: none;
        //  border: none;
        //  img {
        //    height: 35px;
        //    border-radius: 50%;
        //    margin-right: 8px;
        //  }
        //}

      }
    }
  }
}
