.landing {
  .mainSplash {
    background-color: #113b55;
    height: 90vh;

    #jumbotron {
      background: none;
      max-height: 500px;
      display: block;
      margin: 0 auto;
      width: 80%;
      height: 500px;
      text-align: center;
      color: #f2f2f2;
      position: relative;
      top: 50%;
      transform: translateY(-50%);

      #blurb {
        display: inline-block;
        width: 40%;
        height: 100%;
        position: relative;
        float: left;

        div {
          position: relative;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      #jumboImage {
        width: 60%;
        display: inline-block;
        float: right;
        height: 100%;

        img {
          max-width: 80%;
          height: inherit;
          margin-left: 20%;
        }
      }
      h1 {
        font-size: 3em;
        span {
          font-size: 2.5em;
        }
      }

      p {
        font-size: 1.3em;
      }

      a {
        color: inherit;
        text-decoration: none;
        letter-spacing: 0.05rem;
      }
    }
  }

  .statistic {
    clear: both;
    display: block;
    background-color: #004d3d;
    padding: 50px 0 40px 0;
    img {
      height: 300px;
      display: block;
      margin: 0 auto;
    }

    h4 {
      display: block;
      margin: 0 auto;
      width: 50%;
      padding-bottom: 0;
      color: #f2f2f2;
      text-align: center;
    }
  }

  .demo {
    display: block;
    background-color: #081d2b;
    padding: 50px 0 40px 0;
    img {
      height: 300px;
      display: block;
      margin: 0 auto;
    }

    h4 {
      padding-top: 10px;
      padding-bottom: 0;
      color: #f2f2f2;
      text-align: center;
    }
  }

  @media screen and (max-width: 1120px) {
    .mainSplash {
      height: 84vh;

      #jumbotron {
        width: 90%;
        h1 {
          font-size: 2.75em;
          span {
            font-size: 2em;
          }
        }

        #blurb {
          button {
            width: 100%;
          }
        }


      }
    }
  }
}