#newPostGraphic {
  display: block;
  margin: 10px auto;
  height: 400px;
}

.newContentPostContainer {
  width: 50%;
  letter-spacing: 0.15rem;
  display: block;
  margin: 20px auto 0 auto;
  background-color: #b3d9ff;
  border: 2px solid #003366;
  border-radius: 10px;
  padding: 15px;

  .form-group {
    textarea.form-control:active {
    }
  }

  .categories {
    display: block;
    position: relative;
    letter-spacing: normal;

    #categoryTable {
      width: 100%;

      td {
        width: 226px;
      }
    }
  }

  h1 {
    text-align: center;
  }

  h3 {
    margin-bottom: 15px;
    text-decoration: underline;
  }

  .contentMediumsPropsInfo{
    margin-left: 20px;
    font-size: 1.2em;
  }

  #contentMediumsGoBack {
    float: right;
  }

}