#instagramShow {
  display: block;
}

#instagramHide {
  display: none;
}

.socialContainer {
  background-color: #f2f2f2;
  color: #666666;
  display: inline-block;
  width: 100%;
  height: 200px;
  border-radius: 5px;
  margin: 20px 5px;

  div {
    color: #f2f2f2;
    padding: 5px 0;
    width: 100%;
    border-radius: 5px 5px 0 0;
    text-align: center;
  }

  li {
    color: inherit;
    margin: 4px 0 4px 10px;
  }
}

/*--------------------------------------*/

#goBackLink {
  margin-left: 15px;
}




.singlePostBigContainer {
  display: block;
  background-color: #e6e6e6;

  .singleContentPostContainer {
    display: block;
    position: relative;
    margin: 40px auto;
    width: 80%;

    .mainContainer {
      left: 0;
      width: 70%;
      background-color: #ffffff;
      padding-top: 15px;

      #imageLightbox {
        display: inline-block;
        margin-left: 2%;

        img {
          margin: 0 10px;
          display: inline-block;
          max-width: 175px;
          max-height: 175px;
        }
      }

      .postResult {
        margin: 15px 1% 15px 2%;

        #headline {
          h3 {
            font-size: 3rem;
          }

          ul {
            list-style: none;
            li {
              margin: 5px 0;
              span {
                text-decoration: underline;
              }
            }
          }
        }

        .content {
          h4 {
            font-size: 2.2rem;
            margin-bottom: 15px;
          }

          .socialMediums {
            margin-top: 20px;

            .socialMediumContainer {
              display: block;
              width: 90%;
              margin: 0 auto 20px auto;
              background-color: #d9d9d9;
              opacity: 0.9;

              h3 {
                display: block;
                padding-top: 8px;
                text-align: center;
              }

              #socialLogoContainer {
                display: inline-block;
                margin: 0 0 10px 5%;
                width: 20%;

                img {
                  display: block;
                }
              }

              #socialStatistics {
                display: inline-block;
                width: 62%;
                margin: 0 5% 0 8%;
              }
            }
          }
        }
      }
    }

    .infoContainer {
      top: 0;
      right: 0;
      position: absolute;
      width: 300px;
      background-color: #b3d9ff;

      #profileBlock {
        // 3%padding + 20%profile img + 6%margin + 68%width + 3% padding
        padding: 0 3%;
        display: inline-block;
        height: 70px;
        margin-top: 15px;
        width: 100%;

        img {
          display: inline-block;
          border-radius: 50%;
          width: 20%;
        }

        span {
          width: 68%;
          display: inline-block;
          margin-left: 6%;
          //font-size: 30px;
          line-height: 55px; //70px height minus 15px margin-top
          vertical-align: top;
        }
      }
      h5 {
        padding-left: 10px;
        margin: 5px 0;
      }

      .panel.panel-default {
        background-color: inherit;
      }

      #editButton, #messageButton{
        display: block;
        margin: 10px auto;
        width: 80%;
        a {
          color: #f2f2f2;
        }
      }
    }

    @media screen and (max-width: 1350px) {
      width: 95%;
      .mainContainer {
        .postResult {
          .content {
            .socialMediums {
              .socialMediumContainer {
                #socialLogoContainer {
                  display: block;
                  margin: 0;
                  width: 100%;
                  img {
                    display: block;
                    margin: 5px auto;
                    height: 100px;
                  }
                }
                #socialStatistics {
                  display: block;
                  width: 90%;
                  margin: 20px auto;
                  padding-bottom: 1px;

                }
              }
            }
          }
        }
      }

      .infoContainer {
        width: 26%;
        #profileBlock {
          img {
            position: relative;
            top: 40%;
            transform: translateY(-50%)
          }
        }
      }
    }
  }
}
