.socialContainer {
  background-color: #f2f2f2;
  color: #666666;
  display: inline-block;
  width: 100%;
  height: 200px;
  border-radius: 5px;
  margin: 20px 5px;

  div {
    color: #f2f2f2;
    padding: 5px 0;
    width: 100%;
    border-radius: 5px 5px 0 0;
    text-align: center;
  }

  li {
    color: inherit;
    margin: 4px 0 4px 10px;
  }
}

/*--------------------------------------*/

.singleContentPostContainer {
  display: block;
  position: relative;
  margin: 65px auto;
  width: 80%;

  .mainContainer {
    left: 0;
    position: absolute;
    width: 70%;
    background-color: #ffffff;
  }

  .infoContainer {
    right: 0;
    position: absolute;
    width: 300px;
    background-color: #e6ac00;

    #profileBlock {
      padding-left: 10px;
      display: inline-block;
      height: 70px;
      margin-top: 15px;

      img {
        border-radius: 50%;
        width: 20%;
      }

      span {
        margin-left: 5%;
        width: 70%;
        font-size: 4rem;
        vertical-align: top;
      }
    }
    h5 {
      padding-left: 10px;
      margin: 5px 0;
    }

    .panel.panel-default {
      background-color: inherit;
    }

    #editButton, #messageButton{
      display: block;
      margin: 10px auto;
      width: 80%;
    }
  }



}




.test {
  width: 50%;
  display: inline-block;
  margin: 40px 0 0 24%;
  background-color: #b3d9ff;
  border: 2px solid #003366;
  border-radius: 10px;
  padding: 15px;

  #profilePic {
    display: inline-block;
    width: 15%;
    height: 100px;

    img {
      border-radius: 50%;
    }
  }

  #headline {
    width: 85%;
    min-height: 100px;
    display: inline-block;

    div {
      display: inline-block;
      vertical-align: middle;
      padding: 0 5%;
      width: 100%;

      h3 {
        margin-bottom: 8px;
        font-style: normal;
        font-weight: bold;
      }

      span {
        font-style: italic;
        text-decoration: overline;
      }

    }
  }

  .spacer {
    display: inline-block;
    width: 2%;
  }

  .youtubeContainer {
    @extend .socialContainer;
    div {
      background-color: #ff0000;
    }
  }

  .instagramContainer {
    @extend .socialContainer;
    div {
      background-color: #833ab4;
    }
  }

  .twitterContainer {
    @extend .socialContainer;
    div {
      background-color: #1da1f2;
    }
  }

  .snapchatContainer {
    @extend .socialContainer;
    div {
      background-color: #e6ac00;
    }
  }

  #editPost {
  }

  #goBack {
  }

  #messageMe {
    float: right;
  }
}