.headerContainer {
  width: 100%;
  background-color: #216894;
  height: 80px;
  text-align: center;
  padding-top: 20px; }
  .headerContainer a {
    color: #f2f2f2;
    text-decoration: none; }
  .headerContainer a:hover {
    color: #b3b3b3; }
  .headerContainer #navContentCreatorsLink, .headerContainer #navAdvertisersLink {
    display: inline-block;
    width: 200px;
    margin: 0 auto; }
  .headerContainer #navLogo {
    display: inline-block;
    width: 300px;
    margin: 0 auto; }
  .headerContainer #loginAndProfileLinks {
    top: 0;
    right: 0;
    position: absolute;
    margin: 10px 15px 0 0; }
    .headerContainer #loginAndProfileLinks Button:active {
      position: static; }

#contained-modal-title-sm {
  font-size: 2em;
  text-align: center; }

#registerButton {
  width: 100%; }
  #registerButton a {
    text-decoration: none;
    color: #ffffff; }

.newUserRegistrationContainer {
  width: 65%;
  display: block;
  margin: 40px auto 0 auto;
  border: 2px solid #003366;
  border-radius: 10px;
  padding: 15px; }

.newContentPostContainer {
  width: 65%;
  display: block;
  margin: 40px auto 0 auto;
  background-color: #b3d9ff;
  border: 2px solid #003366;
  border-radius: 10px;
  padding: 15px; }

.newPostBanner {
  width: 100%;
  display: block;
  background-color: #cccccc;
  color: #00394d;
  text-align: center; }
  .newPostBanner Button {
    height: 26px; }

.searchBar {
  float: left;
  padding-left: 20px;
  width: 20%;
  height: 700px;
  background-color: #e6f2ff; }
  .searchBar h3 {
    margin-top: 20px; }
  .searchBar .filterCategory {
    margin-left: 10%; }
  .searchBar .filterResult {
    margin-left: 15%; }

.contentPostContainer {
  display: block;
  float: right;
  width: 80%; }
  .contentPostContainer h1 {
    padding-left: 20px;
    margin-top: 10px; }
  .contentPostContainer .singleContentPost {
    display: block;
    width: 70%;
    margin: 40px auto;
    padding: 10px 20px;
    background-color: #b3d9ff;
    border-radius: 10px;
    box-shadow: 10px 10px #4d4d4d; }
    .contentPostContainer .singleContentPost #postSummary {
      font-size: 1.4em;
      letter-spacing: 0.125em;
      font-weight: bold; }
    .contentPostContainer .singleContentPost #postOtherDetails {
      position: relative; }
      .contentPostContainer .singleContentPost #postOtherDetails span {
        text-decoration: underline; }
      .contentPostContainer .singleContentPost #postOtherDetails #socialIcons {
        position: absolute;
        right: 0;
        text-align: right;
        margin-top: -28px; }

* {
  margin: 0;
  padding: 0;
  border: 0;
  max-width: 100%; }

h1, h2, h3, h4 {
  margin: 0;
  padding: 0; }
