.headerContainer {
  width: 100%;
  background-color: #216894;
  height: 80px;
  text-align: center;
  padding-top: 20px; }
  .headerContainer a {
    color: #f2f2f2;
    text-decoration: none; }
  .headerContainer a:hover {
    color: #b3b3b3; }
  .headerContainer #navContentCreatorsLink, .headerContainer #navAdvertisersLink {
    display: inline-block;
    width: 200px;
    margin: 0 auto; }
  .headerContainer #navLogo {
    display: inline-block;
    width: 300px;
    margin: 0 auto; }
  .headerContainer #loginAndProfileLinks {
    top: 0;
    right: 0;
    position: absolute;
    margin: 10px 15px 0 0; }
    .headerContainer #loginAndProfileLinks Button:active {
      position: static; }

#contained-modal-title-sm {
  font-size: 2em;
  text-align: center; }

#registerButton {
  width: 100%; }
  #registerButton a {
    text-decoration: none;
    color: #ffffff; }

.newUserRegistrationContainer {
  width: 65%;
  display: block;
  margin: 40px auto 0 auto;
  border: 2px solid #003366;
  border-radius: 10px;
  padding: 15px; }

#newPostGraphic {
  display: block;
  margin: 10px auto;
  height: 400px; }

.newContentPostContainer {
  width: 50%;
  letter-spacing: 0.15rem;
  display: block;
  margin: 20px auto 0 auto;
  background-color: #b3d9ff;
  border: 2px solid #003366;
  border-radius: 10px;
  padding: 15px; }
  .newContentPostContainer .categories {
    display: block;
    position: relative;
    letter-spacing: normal; }
    .newContentPostContainer .categories #categoryTable {
      width: 100%; }
      .newContentPostContainer .categories #categoryTable td {
        width: 226px; }
  .newContentPostContainer h1 {
    text-align: center; }
  .newContentPostContainer h3 {
    margin-bottom: 15px;
    text-decoration: underline; }
  .newContentPostContainer .contentMediumsPropsInfo {
    margin-left: 20px;
    font-size: 1.2em; }
  .newContentPostContainer #contentMediumsGoBack {
    float: right; }

#instagramShow {
  display: block; }

#instagramHide {
  display: none; }

.socialContainer, .test .youtubeContainer, .test .instagramContainer, .test .twitterContainer, .test .snapchatContainer {
  background-color: #f2f2f2;
  color: #666666;
  display: inline-block;
  width: 100%;
  height: 200px;
  border-radius: 5px;
  margin: 20px 5px; }
  .socialContainer div, .test .youtubeContainer div, .test .instagramContainer div, .test .twitterContainer div, .test .snapchatContainer div {
    color: #f2f2f2;
    padding: 5px 0;
    width: 100%;
    border-radius: 5px 5px 0 0;
    text-align: center; }
  .socialContainer li, .test .youtubeContainer li, .test .instagramContainer li, .test .twitterContainer li, .test .snapchatContainer li {
    color: inherit;
    margin: 4px 0 4px 10px; }

/*--------------------------------------*/
#goBackLink {
  margin-left: 15px; }

.singleContentPostContainer {
  display: block;
  position: relative;
  margin: 40px auto;
  width: 80%; }
  .singleContentPostContainer .mainContainer {
    left: 0;
    position: absolute;
    width: 70%;
    background-color: #ffffff;
    padding-top: 15px; }
    .singleContentPostContainer .mainContainer #imageLightbox {
      display: inline-block;
      width: 23%;
      background-color: red;
      margin-left: 2%; }
    .singleContentPostContainer .mainContainer #headline {
      position: absolute;
      display: inline-block;
      margin-left: 5%;
      margin-right: 1%;
      width: 69%; }
      .singleContentPostContainer .mainContainer #headline h3 {
        font-size: 3rem; }
      .singleContentPostContainer .mainContainer #headline ul {
        list-style: none; }
        .singleContentPostContainer .mainContainer #headline ul li {
          margin: 5px 0; }
          .singleContentPostContainer .mainContainer #headline ul li span {
            text-decoration: underline; }
    .singleContentPostContainer .mainContainer .content {
      margin: 15px 1% 15px 2%; }
      .singleContentPostContainer .mainContainer .content h4 {
        font-size: 2.2rem;
        margin-bottom: 15px; }
      .singleContentPostContainer .mainContainer .content .socialMediums {
        margin-top: 20px; }
        .singleContentPostContainer .mainContainer .content .socialMediums .socialMediumContainer {
          display: block;
          width: 90%;
          margin: 0 auto 20px auto;
          background-color: #d9d9d9;
          opacity: 0.9; }
          .singleContentPostContainer .mainContainer .content .socialMediums .socialMediumContainer h3 {
            display: block;
            padding-top: 8px;
            text-align: center; }
          .singleContentPostContainer .mainContainer .content .socialMediums .socialMediumContainer #socialLogoContainer {
            display: inline-block;
            margin: 0 0 10px 5%;
            width: 20%; }
            .singleContentPostContainer .mainContainer .content .socialMediums .socialMediumContainer #socialLogoContainer img {
              display: block; }
          .singleContentPostContainer .mainContainer .content .socialMediums .socialMediumContainer #socialStatistics {
            display: inline-block;
            width: 62%;
            margin: 0 5% 0 8%; }
  .singleContentPostContainer .infoContainer {
    right: 0;
    position: absolute;
    width: 300px;
    background-color: #e6ac00; }
    .singleContentPostContainer .infoContainer #profileBlock {
      padding-left: 10px;
      display: inline-block;
      height: 70px;
      margin-top: 15px; }
      .singleContentPostContainer .infoContainer #profileBlock img {
        border-radius: 50%;
        width: 20%; }
      .singleContentPostContainer .infoContainer #profileBlock span {
        margin-left: 5%;
        width: 70%;
        font-size: 4rem;
        vertical-align: top; }
    .singleContentPostContainer .infoContainer h5 {
      padding-left: 10px;
      margin: 5px 0; }
    .singleContentPostContainer .infoContainer .panel.panel-default {
      background-color: inherit; }
    .singleContentPostContainer .infoContainer #editButton, .singleContentPostContainer .infoContainer #messageButton {
      display: block;
      margin: 10px auto;
      width: 80%; }

.test {
  width: 50%;
  display: inline-block;
  margin: 40px 0 0 24%;
  background-color: #b3d9ff;
  border: 2px solid #003366;
  border-radius: 10px;
  padding: 15px; }
  .test #profilePic {
    display: inline-block;
    width: 15%;
    height: 100px; }
    .test #profilePic img {
      border-radius: 50%; }
  .test #headline {
    width: 85%;
    min-height: 100px;
    display: inline-block; }
    .test #headline div {
      display: inline-block;
      vertical-align: middle;
      padding: 0 5%;
      width: 100%; }
      .test #headline div h3 {
        margin-bottom: 8px;
        font-style: normal;
        font-weight: bold; }
      .test #headline div span {
        font-style: italic;
        text-decoration: overline; }
  .test .spacer {
    display: inline-block;
    width: 2%; }
  .test .youtubeContainer div {
    background-color: #ff0000; }
  .test .instagramContainer div {
    background-color: #833ab4; }
  .test .twitterContainer div {
    background-color: #1da1f2; }
  .test .snapchatContainer div {
    background-color: #e6ac00; }
  .test #messageMe {
    float: right; }

.newPostBanner {
  width: 100%;
  display: block;
  background-color: #cccccc;
  color: #00394d;
  text-align: center;
  height: 35px; }
  .newPostBanner span Button {
    display: inline-block;
    height: 29px;
    margin: 3px 0; }

.searchBar {
  display: inline-block;
  float: left;
  width: 17%;
  height: 700px;
  background-color: #e6f2ff; }
  .searchBar form {
    padding-left: 20px; }
    .searchBar form h3 {
      margin-top: 20px; }
    .searchBar form .filterCategory {
      margin-left: 10%; }
    .searchBar form .filterResult {
      margin-left: 15%; }
  .searchBar #adPlaceholder {
    display: block;
    margin: 20px auto;
    min-height: 400px;
    min-width: 240px; }

.adSpace {
  float: right;
  display: inline-block;
  width: 17%;
  background-color: #e6f2ff; }
  .adSpace img {
    display: block;
    margin: 20px auto;
    min-height: 400px;
    min-width: 240px; }

.contentPostContainer {
  display: inline-block;
  width: 66%;
  color: #333333; }
  .contentPostContainer h1 {
    padding-left: 20px;
    margin-top: 10px; }
  .contentPostContainer .singleContentPost {
    display: block;
    width: 70%;
    margin: 40px auto;
    padding: 10px 20px;
    /* Gradient from: http://colorzilla.com/gradient-editor/#7abcff+0,b3d9ff+87 */
    background: #7abcff;
    /* Old browsers */
    background: -moz-linear-gradient(top, #7abcff 0%, #b3d9ff 87%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #7abcff 0%, #b3d9ff 87%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #7abcff 0%, #b3d9ff 87%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7abcff', endColorstr='#b3d9ff', GradientType=0);
    /* IE6-9 */
    border-radius: 10px;
    box-shadow: 10px 10px #4d4d4d; }
    .contentPostContainer .singleContentPost #postSummary {
      font-size: 1.4em;
      letter-spacing: 0.125em;
      font-weight: 700; }
    .contentPostContainer .singleContentPost #postOtherDetails {
      position: relative; }
      .contentPostContainer .singleContentPost #postOtherDetails span {
        text-decoration: underline; }
      .contentPostContainer .singleContentPost #postOtherDetails #socialIcons {
        position: absolute;
        right: 0;
        text-align: right;
        margin-top: -28px; }
  .contentPostContainer .singleContentPost:hover {
    background: #7abcff;
    /* Old browsers */
    background: -moz-linear-gradient(top, #7abcff 0%, #60afff 0%, #54a9ff 87%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #7abcff 0%, #60afff 0%, #54a9ff 87%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #7abcff 0%, #60afff 0%, #54a9ff 87%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#54a9ff',GradientType=0 );
    /* IE6-9 */ }

.footerContainer {
  margin-top: 40px;
  bottom: 0;
  padding-top: 15px;
  background: #216894;
  text-align: center;
  color: #ffffff; }
  .footerContainer #centeredFooterText {
    width: 100%;
    line-height: 150%;
    margin-top: 5px;
    text-align: center;
    font-size: 13px;
    background-color: #216894; }
  .footerContainer #footerBar {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ffffff;
    margin-top: 1em;
    margin-bottom: 0;
    padding: 0; }
  .footerContainer #footerLicensingColor {
    background-color: #216894;
    color: #cecece; }
    .footerContainer #footerLicensingColor h6 {
      margin-bottom: 0; }
  .footerContainer #footerLicensing a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    margin-bottom: 15px; }
  .footerContainer #footerLicensing h6 {
    margin: 0; }

* {
  margin: 0;
  padding: 0;
  border: 0;
  max-width: 100%; }

body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: #e6e6e6; }

h1, h2, h3, h4 {
  margin: 0;
  padding: 0; }

hr {
  display: block;
  margin: 8px auto;
  width: 100%; }
