@import 'header';
@import 'footer';
@import 'landing';
@import 'newUserRegistration';
@import 'newContentPost';
@import 'singleContentPost';
@import 'contentCreatorsList';
@import 'profile';

* {
    margin: 0;
    padding: 0;
    border: 0;
    max-width: 100%;
}

html, body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #e6e6e6;
    height: 100%;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

//can change width later to not maximize entire line space
hr {
    display: block;
    margin: 8px auto;
    width: 100%;
}